.cards {
  border-radius: 5px;
  background-color: #FED8D5;
  color: #004;
  /* text-shadow: 1px 2px 2px #010101; */
  box-shadow: 1px 2px 10px #010101 ;
  transition: all 0.5s;
  height: 100%;
  width: 100%;
  max-height: 350px;
}
.cards:hover {
  transform: scale(1.02);
}
.card-header {
  height: 55%;
}
.cards .card-header-img {
  background-color: white;
  
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  cursor:pointer;
}
.cards .card-body {
  height: 45%;
  padding: 5px 10px;
}
.cards .card-body .card-button {
  
  display: flex;
  justify-content: center;
  width: 100%;

}
.cards .card-body .card-button button {
  padding: 0px 30px;
  border: none;
  background-color: var(--color-secundary);
  border-radius: 5px;
  color: #fff;
  text-shadow: 2px 2px 4px #010101;
  box-shadow: 2px 3px 4px #010101;
  cursor: pointer;
  transition: all 0.5s;
}
.cards .card-body .card-button button:hover {
  transform: scaleX(1.1);
}
@media screen and (max-width: 600px) {
  .cards{
  max-height: 450px;

  }
}