@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --color-primary : #fed8d5;
  --color-secundary:#8E44AD;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-primary);

}
h1,h2,h3,h4,h5,h6{
  font-family: 'Caveat', cursive;
  font-weight: bold;
}
p, div, span{
  font-size: 1.02em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
