body{
    background: #fed8d5;
}
header{
    position:relative;
    display:flex;
    flex-direction: row-reverse;
}
.spaceTwo{
    width:50%;
    position:relative;
}
.spaceOne{
    position:relative;
    direction: row;
}
.blankSpace{
    width:100%;
    height: 200px;
    background: #fff;
}
.card2{
    width:80%;
    margin-left:10%;
}
.spaceFour{
    color:darkslateblue;
    display: flex;
    justify-content: center;
    padding:2%;
}
.row g-3{
    width:60%;
}
.blankSpace2{
    width:100%;
    height: 100px;
}
#inputMessage{
    height:100px;
}
.col-12{
    display: flex;
    justify-content: center;
}
.container{
    padding:5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}